#channel-container {
	display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

#channel-container:after {
  content: "";
  flex: auto;
}


.headerElement {
	display:inline;
	margin-right:5px;
}

#header {
	margin-bottom:10px;
}

.emote {
	display:inline;
	border-top:1px solid black;
	border-bottom:1px solid black;
	margin-bottom: 1px;
}

.emoteStart {
	border-left:1px solid black;
}

.emoteEnd {
	border-right:1px solid black;
	margin-right: 1px;
}

.emoteDisabled {
  filter: contrast(0%) brightness(10%);
}